<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Usamos boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Clients</title>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-right-from-bracket"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/clientes">CLIENTES</a>
            </li>
            <li class="nav-item">
              <% if (user && user.role === 'Hotel') { %>
                <a class="nav-link active" href="/hotel/<%= user.id_hotel %>">HOTEL</a>
            <% } else if (user && user.role === 'General') { %>
              <a class="nav-link active" href="/hoteles">HOTEL</a> %>
            <% } %>
            </li>
            <li class="nav-item">
              <% if (user && user.role === 'Hotel') { %>
                <a class="nav-link active" href="/oferta/<%= user.id_hotel %>">OFERTAS</a>
            <% } else if (user && user.role === 'General') { %>
              <a class="nav-link active" href="/ofertas">OFERTAS</a> %>
            <% } %>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/actividades/">ACTIVIDADES</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="/servicio/">SERVICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/tarifa/">TARIFA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/pais/">PAIS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/reservas/">RESERVAS</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

      <% if (actividades) { %>
        <div class="container mt-4">
          <div class="card border-secondary">
            <div class="card-header">EDITAR</div>
            <div class="card-body">
              <form action="/updatea" method="POST">
                <input type="hidden" id="Id_Actividades" name="Id_Actividades" value="<%= actividades.Id_Actividades %>">
                <div class="mb-3">
                  <label for="Actividad" class="form-label">Actividad</label>
                  <input type="text" class="form-control" id="Actividad" name="Actividad" tabindex="1" value="<%= actividades.Nombre %>">
                </div>
                <div class="mb-3">
                  <label for="Id_Hotel" class="form-label">Hotel</label>
                  <select name="Id_Hotel" id="Id_Hotel" class="form-select">
                    <% hoteles.forEach(hotel => { %>
                      <option value="<%= hotel.Id_Hotel %>" <%= hotel.Id_Hotel === hotel.Id_Hotel ? 'selected' : '' %>>
                        <%= hotel.Nombre %>
                      </option>
                    <% }); %>
                  </select>
                </div>
               


                <div class="mb-3">
                  <label for="Dia_Inicio" class="form-label">Dia Inicio</label>
                  <input type="date" class="form-control" id="Dia_Inicio" name="Dia_Inicio" value="<%= actividades.Dia_Inicio.toISOString().split('T')[0] %>">
                </div>
                <div class="mb-3">
                  <label for="Dia_Fin" class="form-label">Dia Fin</label>
                  <input type="date" class="form-control" id="Dia_Fin" name="Dia_Fin" value="<%= actividades.Dia_Fin.toISOString().split('T')[0] %>">
                </div>
                <div class="mb-3">
                  <label for="Hora_Inicio" class="form-label">Hora Inicio</label>
                  <input type="time" class="form-control" id="Hora_Inicio" name="Hora_Inicio" tabindex="1" value="<%= actividades.Hora_Inicio %>">
                </div>
                <div class="mb-3">
                  <label for="Hora_Fin" class="form-label">Hora Fin</label>
                  <input type="time" class="form-control" id="Hora_Fin" name="Hora_Fin" tabindex="1" value="<%= actividades.Hora_Fin %>">
                </div>
                <div class="mb-3">
                  <label for="Capacidad_Maxima" class="form-label">Capacidad Maxima</label>
                  <input type="number" class="form-control" id="Capacidad_Maxima" name="Capacidad_Maxima" tabindex="1" value="<%= actividades.Capacidad_Maxima %>">
                </div>
                <div class="mb-3">
                  <label for="Ubicacion" class="form-label">Ubicacion</label>
                  <input type="text" class="form-control" id="Ubicacion" name="Ubicacion" tabindex="1" value="<%= actividades.Ubicacion %>">
                </div>
                <div class="mb-3">
                  <label for="Descripcion" class="form-label">Descripcion</label>
                  <input type="text" class="form-control" id="Descripcion" name="Descripcion" tabindex="1" value="<%= actividades.Descripcion %>">
                </div>
                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                <% if (user && user.role === 'Hotel') { %>
                  <a class="btn btn-secondary" href="/actividad/<%= user.id_hotel %>">Cancelar</a>
              <% } else if (user && user.role === 'General') { %>
                <a href="/actividades/" class="btn btn-secondary">Cancelar</a>
              <% } %>
              </form>
            </div>
          </div>
        </div>
      <% } %>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
