<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Usamos boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/habitaciones/edithab.css">
    <title>Habitaciones</title>  
  </head>
  <body>
   

      <% if (habitacion) { %>
        <div class="container mt-4">
          <div class="card border-secondary">
            <div class="card-header">EDITAR</div>
            <div class="card-body">
              <form action="/updatehab" method="POST">
                <input type="hidden" id="Id_Habitaciones" name="Id_Habitaciones" value="<%= habitacion.Id_Habitaciones %>">
                <div class="mb-3">
                  <label for="Numero_Habitacion" class="form-label">Numero_Habitacion</label>
                  <input type="number" class="form-control" id="Numero_Habitacion" name="Numero_Habitacion" tabindex="1" value="<%= habitacion.Numero_Habitacion %>">
                </div>
                <div class="mb-3">
                  <label for="Tipo" class="form-label">Tipo</label>
                  <select name="Tipo" id="Tipo" class="form-select" aria-label="Elige una de las opciones">
                    <option <%= habitacion.Tipo == 'Individual' ? "Selected" : '' %>  value="Individual"> Individual</option>
                    <option <%= habitacion.Tipo == 'Doble' ? "Selected" : '' %>  value="Doble">Doble</option>
                    <option  <%= habitacion.Tipo == 'Suite' ? "Selected" : '' %>  value="Suite">Suite</option>
                 </select>
                </div>
                <div class="mb-3">
                  <label for="Capacidad" class="form-label">Capacidad</label>
                  <input type="number" class="form-control" id="Capacidad" name="Capacidad" tabindex="1" value="<%= habitacion.Capacidad %>">
                </div>
                <div class="mb-3">
                  <label for="Precio" class="form-label">Precio</label>
                  <input type="number" class="form-control" id="Precio" name="Precio" tabindex="1" value="<%= habitacion.Precio %>">
                </div>
           
                
                <div class="mb-3">
                  <label for="Id_Hotel" class="form-label">Hotel</label>
                  <select name="Id_Hotel" id="Id_Hotel" class="form-select">
                    <% hoteles.forEach(hotel => { %>
                      <option value="<%= hotel.Id_Hotel %>" <%= hotel.Id_Hotel === hotel.Id_Hotel ? 'selected' : '' %>>
                        <%= hotel.Nombre %>
                      </option>
                    <% }); %>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                <a href="/habitaciones/<%= habitacion.Id_Hotel %>" class="btn btn-secondary">Cancelar</a>

              </form>
            </div>
          </div>
        </div>
      <% } %>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
