<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.bootstrap5.css">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/index.css">
    
    <title>Clientes</title>  
</head>
<body>
    <!-- Navbar modificado -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" alt="Logo" class="navbar-logo">
            </a>
            
            <!-- Hamburguesa -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" 
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Contenido colapsable -->
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/hotel/<%= user.id_hotel %>">HOTEL</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/hoteles">HOTEL</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/oferta/<%= user.id_hotel %>">OFERTAS</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/ofertas">OFERTAS</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/actividad/<%= user.id_hotel %>">ACTIVIDADES</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/actividades">ACTIVIDADES</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/servicios/<%= user.id_hotel %>">SERVICIO</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/servicio">SERVICIO</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/tarifas/<%= user.id_hotel %>">TARIFA</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/tarifa">TARIFA</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/pais/">PAIS</a>
                    </li>
                    <li class="nav-item">
                        <% if (user && user.role === 'Hotel') { %>
                            <a class="nav-link active" href="/reserva/<%= user.id_hotel %>">RESERVAS</a>
                        <% } else if (user && user.role === 'General') { %>
                            <a class="nav-link active" href="/reservas">RESERVAS</a>
                        <% } %>
                    </li>
                </ul>
                
                <!-- Logout - Desktop -->
                <div class="d-none d-lg-flex ms-3">
                    <a class="nav-link text-white" href="/logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </div>
            </div>
            
            <!-- Logout - Mobile -->
            <div class="d-lg-none text-center py-2">
                <a class="btn btn-outline-light" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <a href="/create" class="btn btn-outline-primary mt-4"> <i class="fa-solid fa-plus"></i></a>
        <table id="users" class="table table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Código Postal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((user) => { %>
                    <tr>
                        <td><%= user.Id_Client %></td>
                        <td><%= user.Nom %></td>
                        <td><%= user.Cognom %></td>
                        <td><%= user.DNI %></td>
                        <td><%= user.CorreuElectronic %></td>
                        <td><%= user.Telefon %></td>
                        <td><%= user.Usuari %></td>
                        <td>
                            <span class="password-hidden">********</span>
                            <button type="button" class="btn btn-sm btn-secondary toggle-password" data-password="<%= user.Password %>">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                        <td><%= user.Pais %></td>
                        <td><%= user.Ciudad %></td>
                        <td><%= user.CodigoPostal %></td>
                        <td>
                            <a href="/edit/<%= user.Id_Client %>" class="btn btn-sm btn-warning" title="Edit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a onclick="confirmar('<%= user.Id_Client %>')" class="btn btn-sm btn-danger" title="Delete">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                            <a href="/informacion/<%= user.Id_Client %>" class="btn btn-sm btn-info" title="Info">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>